@import "../../styles/variables.scss";
.container {
    width: 80%;
    margin: 1em auto;
    overflow: hidden;
    max-width: 40em;
}

.history {
    margin-top: 1em;
    &__search {
        &__input {
            width: 80%;
            height: 30px;
            border: none;
            /* <-- This thing here */
            border: solid 1px #ccc;
            border-radius: 4px;
            color: $primaryTitle;
            padding: 15px;
            margin-right: 20px
        }
        &__filter__btn {
            &:hover {
                cursor: pointer;
            }
        }
        &__group {
            &__filter {
                display: flex;
                flex-direction: row;
            }
        }
    }
    &__wrapper {
        width: 100%;
        &__search__bar {
            display: flex;
            justify-content: space-between;
        }
        &__archived__routes {
            padding: 0.3em 0em;
            margin-top: 54px;
            width: 100%;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.08);
            // background: rgba(243, 244, 247, 0.70);
        }
    }
    &__archived__route {
        // background: rgba(191, 208, 255, 0.60);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
        padding: 0.5em;
        margin-bottom: 0.6em;
        &__title {
            font-size: 14px;
            font-style: normal;
            color: $primaryTitle;
        }
        &__text {
            color: $secondPrimaryTitle;
            font-size: 12px;
        }
        &__btn {
            &:hover {
                cursor: pointer;
            }
        }
        &__wrapper {
            &__header {
                display: flex;
                justify-content: space-between;
            }
            &__body {
                margin-top: 7px;
            }
            &__icons {
                width: 3em;
                display: flex;
                margin-right: 0.3em;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

.text_end {
    width: 100%;
    text-align: end;
}