@import "../../styles/variables.scss";
.navbutton {
    // border: 1px solid black;
    padding: 0.5em 0em;
    border-radius: $borderRadius1;
    margin: 0.5em;
    color: gray;
}

.navbutton:hover {
    color: $blue;
}

.chose {
    color: $blue;
    border-bottom: 2px solid $blue;
    border-radius: 0;
    margin-bottom: 0;
    font-weight: 600;
}