.floatwindow {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 1em;
    width: 25%;
    max-height: 45vh;
    border-radius: 5px;
    // border: solid black 1px;
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    user-select: none;
    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .cruises {
        .cruise {
            padding: 1em;
            border-radius: 7px;
            border: 1px solid gray;
            margin-top: 1em;
        }
        .cruise:hover {
            border: 2px solid black;
            background: rgba(255, 255, 255, 0.3);
        }
    }
    .cruiseinfo {}
}